*{
    height: 100hv;
    font-family: 'Quicksand', sans-serif;
}
.ocultar{
    display:none;
}
body{
    padding: 50px 300px 100px;    
    background-image: 
    linear-gradient(
    rgba(112, 190, 214, 0.705),
    rgba(38, 103, 136, 0.5)
    ),
    url(dos.png);
    background-repeat: unset;
    width: 50%;
    height: 30%;
    text-align: center;
    display: block;
} 

#logo{
    width:60px;
    height:65px;
    position: relative;
    left: 2px;
    vertical-align: middle;
    margin: 10px;
} 
#mic{
    width:65px;
    height:65px;
    position: absolute;
    left: 500px;
    top:320px;
    
    z-index: 1;
}
#team{
    width:70px;
    height:75px;
    position: absolute;
    right: 520px;
    top: 320px;
    z-index: 1;
}
header {
    position: relative;
    left: 17px;
    font-size: 4em;
    font-weight: 600;
    padding: 10px 10px; 
    margin: 2px;
    -webkit-text-stroke: 3px white;
    color: white;
}
p{
    font-size: 2em;
}
.phrase{
position: relative;
left: 11px;
}
form{
    text-align: center;
}
.btn-general{
    float: left;
    position: relative;
    top: 75px;
    left: 90px;
    margin: 10px;
    z-index: 1;
}
.cont-medio{
    margin: 10px;
}
.cont-final{
    margin: 10px;
}
.cont-mediod{
    margin: 10px;
}
.cont-finald{
    margin: 10px;
}
#ingreseTexto{
    font-size: 20px;
    font-weight: 600;
    padding: 20px 100px 5px;
    margin: 2px;
}
#ingreseTextoD{
    font-size: 20px;
    font-weight: 600;
    padding: 20px 100px 5px;
    margin: 2px;
}
#botonC{
    font-size: 30px;
    font-weight: 600;
    size: 15px;
    padding: 5px;
    border: 2px solid gray; 
    border-radius: 10px 10px 10px 10px;
    width: 250px;
    height: 60px;
}
#botonD{
    font-size: 30px;
    font-weight: 600;
    size: 15px;
    padding: 5px;
    border: 2px solid gray; 
    border-radius: 10px 10px 10px 10px;
    width: 250px;
    height: 60px;
}
button:hover{
    color: #1883ba;
    cursor: pointer;
    background-color: #ffffff;
}
label{
    font-size: 20px;
    font-weight: 600;
}
input{
    width: 120px;
    height: 25px;
    border: 2px solid gray; 
    border-radius: 10px 10px 10px 10px;
}
textarea{
    font-size: 15px;
    font-weight: 600;
    resize: none; 
    width: 350px;
    height: 80px;
    border: 2px solid gray; 
    border-radius: 10px 10px 10px 10px;

}
#cifrar{
    font-size: 18px;
    font-weight: 600;
    size: 15px;
    padding: 3px;
    border: 2px solid gray; 
    border-radius: 10px 10px 10px 10px;
    width: 100px;
    height: 35px;
}
#descifrar{
    font-size: 18px;
    font-weight: 600;
    size: 15px;
    padding: 3px;
    border: 2px solid gray; 
    border-radius: 10px 10px 10px 10px;
    width: 120px;
    height: 35px;
}
#regresar{
    font-size: 18px;
    font-weight: 600;
    size: 15px;
    padding: 3px;
    border: 2px solid gray; 
    border-radius: 10px 10px 10px 10px;
    width: 70px;
    height: 35px;
}
#regresar1{
    font-size: 18px;
    font-weight: 600;
    size: 15px;
    padding: 3px;
    border: 2px solid gray; 
    border-radius: 10px 10px 10px 10px;
    width: 70px;
    height: 35px;
}
#limpiar{
    font-size: 18px;
    font-weight: 600;
    size: 15px;
    padding: 3px;
    border: 2px solid gray; 
    border-radius: 10px 10px 10px 10px;
    width: 80px;
    height: 35px;
}
#limpiarD{
    font-size: 18px;
    font-weight: 600;
    size: 15px;
    padding: 3px;
    border: 2px solid gray; 
    border-radius: 10px 10px 10px 10px;
    width: 80px;
    height: 35px;
}

footer{
    clear: both;
    position: relative;
    top: 150px;
    bottom: 2px;
    font-size: 8px;
}